@keyframes fade-in {
	0% {
		opacity: 0.2;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes shake {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0);
	}
}
@keyframes float {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: rotate(0);
	}
}
@keyframes bluring {
	0% {
		filter: blur(5px);
		transform: scale(1);
	}
	100% {
		filter: blur(6px);
		transform: scale(1.02);
	}
}
@keyframes bluring-md {
	0% {
		filter: blur(5px);
		transform: scaleY(1) scaleX(0.55);
	}
	100% {
		filter: blur(6px);
		transform: scaleY(1.02) scaleX(0.57);
	}
}
@keyframes bluring-big {
	0% {
		filter: blur(5px);
		transform: scaleX(1.25) scaleY(1);
	}
	100% {
		filter: blur(6px);
		transform: scaleX(1.27) scaleY(1);
	}
}