// 提示框 tooltips
.tooltips {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	opacity: 0;
	overflow: hidden;
	transition: all .25s ease;

	&--active {
		opacity: 1;
		top: 0;
		bottom: 0;
		z-index: 1000;
	}

	&__info {
		color: $white;
		height: 48px;
		line-height: 48px;
		margin: -24px 0 0 -150px;
		position: absolute;
		padding: 0 20px;
		top: -100%;
		left: 50%;
		width: 300px;
		transition: top .5s ease .05s;
		font-size: 16px;
		background: #535353;
		.tooltips--active & {
			top: 50%;
		}
		.tooltips--error &{
			background: #ed0d0d;
		}
		.tooltips--success & {
			background: #12ad0e;
		}
	}
	&__icon,
	&__text {
		display: inline-block;
		vertical-align: middle;
	}
	&__icon {
		font-size: 20px;
		margin: 0 8px 0 0;
	}
	&__text {
		letter-spacing: .1em;
	}
}
