@charset "utf-8";

@import
	'abstracts/variables',
	'abstracts/function',
    'abstracts/mixins';

.wrap {
	position: relative;

	@include breakpoint(lg, max) {
		height: 100vh;
	}

	&__bg,
	&__bg-deco {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transform-origin: center;
		z-index: 1;

		background: url("../images/events/elements/p1-bg-m.jpg") center / contain no-repeat;
		animation: fade-in 3s forwards;

		@include breakpoint(lg, max) {
			background-size: cover;
		}
		@include breakpoint(lg) {
			background-image: url("../images/events/elements/p1-bg.jpg");
		}
	}

	&__bg-deco {
		background: url("../images/events/elements/p1-bg.jpg") center / cover;
		animation: none;
		z-index: 0;
		filter: blur(30px);
		transform: scale(1.1);
		@include breakpoint(lg) {
			background-image: url("../images/events/elements/p1-bg.jpg");
		}

	}

}

.bgwrap {
	position: absolute;
	width: 100%;
	max-width: 182.27vh;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
	z-index: 2;
	@include flex-center();

	&__inner {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint(lg, max) {
			height: 100vh;
			max-height: 700px;
		}

		&::after {
			content: "";
			width: 100%;
			padding-bottom: 54.86%;
			display: block;

			@include breakpoint(lg, max) {
				display: none;
			}
		}
	}
}

.subtitle {
	max-width: 450px;
	position: absolute;
	top: 45px;
	display: flex;
	flex-direction: column;
	opacity: 0;

	@include breakpoint(lg, max) {
		top: 182px;
		padding-left: 30px;
		padding-right: 30px;

		@include breakpoint(md) {
			padding-left: 45px;
			padding-right: 45px;
		}
	}
	@media (max-height: 568px){
		top: 138px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: calc(50% - 225px);
		width: 450px;
		height: 100%;
		opacity: 0.8;
		filter: blur(5px);
		background-color: #ffffff;
		animation: bluring 0.75s infinite alternate ease-in-out;

		@include breakpoint(lg, max) {
			width: 90vw;
			left: calc(50% - 45vw);

			@include breakpoint(md) {
				animation: bluring-md 0.75s infinite alternate ease-in-out;
			}
		}
	}
	&__string {
		position: relative;
		z-index: 1;
		text-align: center;
		padding: 14.5px 10px;
		font-weight: bold;
		color: #000;
		line-height: 1.63;
		overflow: hidden;

		&.next {
			display: none;
		}
		.wrap--next & {
			display: none;

			&.next {
				display: block;
			}
		}
	}
	&__control {
		display: flex;
		justify-content: center;
		padding-bottom: 1rem;
	}
	&__btn {
		color: #000;
		position: relative;
		z-index: 1;
		text-decoration: none;

		&:focus,
		&:hover,
		&:active {
			color: #000;
		}
		&:hover {
			> span {
				text-decoration: underline;
			}
		}

		&::after {
			content: "▼";
			font-size: 12px;
			margin-left: 8px;
			display: inline-flex;
			animation: floating infinite alternate 1s;
			text-decoration: none!important;
		}
	}
}

.item__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .4s;
	opacity: 0;
	position: relative;

	&.immediate {
		transition: none;
	}

	&:not(.item__link--active):not(.item__link--animating):hover {
		transform: translateY(-10px);
	}
	&-title {
		position: absolute;
		top: -56px;
		left: calc(50% - 64px);
		animation: float infinite 1s alternate;
		max-width: none;
	}
}

.diary {
	position: absolute;
	top: 66.11%;
	left: 7.26%;
	width: 11.04%;

	@include breakpoint(lg, max) {
		width: 160px;
		top: 369px;
		left: calc(50% - 171px);

		@include breakpoint(375) {
			width: 194px;
			top: 400px;
			left: calc(50% - 186px);
		}
		@include breakpoint(md) {
			width: 250px;
			top: 400px;
			left: calc(50% - 300px);
		}
	}
	@media (max-height: 568px){
		top: 332px;
	}

	&__text {
		width: 128px;
		margin-bottom: 16px;

	}
	&__img {
		width: 100%;
	}
	.item__link--active {
		@include breakpoint(lg) {
			transform: translateY(-50px);
		}
	}
}

.envelope {
	position: absolute;
	top: 74%;
	left: 41.111%;
	width: 7.56%;

	@include breakpoint(lg, max) {
		width: 90px;
		top: 359px;
		left: calc(50% - -29px);

		@include breakpoint(375) {
			width: 109px;
			top: 424px;
			left: calc(50% + 37.5px);
		}
		@include breakpoint(md) {
			width: 140px;
			top: 400px;
			left: calc(50% + 100px);
		}
	}
	@media (max-height: 568px){
		top: 328px;
	}

	&__text {
		width: 128px;
		margin-bottom: 16px;

	}
	&__img {
		width: 100%;
	}
	.item__link--active {
		@include breakpoint(lg, max) {
			transform: translateY(-15px);
		}
	}
}

.script {
	position: absolute;
	top: 77.25%;
	left: 79.375%;
	width: 10.97%;

	@include breakpoint(lg, max) {
		width: 130px;
		top: 472px;
		left: calc(50% - 61px);

		@include breakpoint(375) {
			width: 158px;
			top: 543px;
			left: calc(50% - 107px);
		}
		@include breakpoint(md) {
			width: 203px;
			top: 543px;
			left: calc(50% - 107px);
		}
	}
	@media (max-height: 568px){
		top: 407px;
	}

	&__text {
		width: 128px;
		margin-bottom: 16px;

	}
	&__img {
		width: 100%;
	}
}

.item {
	&__link--active {
		transform: translateY(-30px);
		&:hover {
			cursor: default;
		}
	}
	&__img {
		//filter: drop-shadow(0 0 23px rgba(255, 238, 182, 0.9));
		//animation: glow 1.5s infinite reverse ease-in-out;

		.item__link--active & {
			display: none;
		}
	}
	&__clue {
		width: 150px;
		max-width: 150px;
		display: none;

		@media (max-height: 568px){
			width: 100px;
			max-width: 100px;
		}

		.item__link--active & {
			display: block;
			animation: show forwards 1s;
		}
	}
}

.btn-next {
	width: 232px;
	position: absolute;
	top: 290px;
	display: none;

	@include breakpoint(lg) {
		top: 19.74%;
	}
	@media (max-height: 568px){
		top: 262px;
	}

	.wrap--next & {
		display: block;
		animation: show forwards 1s;

		&.delay {
			opacity: 0;
			animation: show forwards 1s;
		}
	}
}

.logo {
	position: fixed;

	@media (max-height: 568px){
		left: calc(50% - 60px);

		&__img {
			width: 120px;
			&--ntso {
				width: 150px;
			}
		}
		&__link {
			@include breakpoint(lg, max) {
				margin-top: 30px;
			}
		}
	}
	@include breakpoint(md, max) {
		left: calc(50% - 90px);

		&__img {
			width: 180px;
		}
	}
	@include breakpoint(lg, max) {
		@include breakpoint(md) {
			left: calc(50% - 170px);

			&__img {
				width: 340px;
			}
			&__link {
				@include breakpoint(lg, max) {
					margin-top: 75px;
				}
			}
		}
	}
	&__link {
		width: auto;
	}
}