@charset "utf-8";

@import
	'abstracts/variables',
	'abstracts/function',
    'abstracts/mixins';

.wrap {
	position: relative;

	@include breakpoint(lg, max) {
		height: 100vh;
	}

	&__bg,
	&__bg-deco {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transform-origin: center;
		z-index: 1;

		background: url("../images/events/elements/p1-bg-m.jpg") center / contain no-repeat;
		animation: fade-in 3s forwards;

		@include breakpoint(lg, max) {
			background-size: cover;
		}
		@include breakpoint(lg) {
			background-image: url("../images/events/elements/p1-bg.jpg");
		}
	}

	&__bg-deco {
		background: url("../images/events/elements/p1-bg.jpg") center / cover;
		animation: none;
		z-index: 0;
		filter: blur(30px);
		transform: scale(1.1);
		@include breakpoint(lg) {
			background-image: url("../images/events/elements/p1-bg.jpg");
		}

	}

}

.bgwrap {
	position: absolute;
	width: 100%;
	max-width: 182.27vh;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
	z-index: 2;
	@include flex-center();

	&__inner {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint(lg, max) {
			height: 100vh;
		}

		&::after {
			content: "";
			width: 100%;
			padding-bottom: 54.86%;
			display: block;

			@include breakpoint(lg, max) {
				display: none;
			}
		}
	}
}

.subtitle {
	max-width: 400px;
	position: absolute;
	top: 45px;
	display: flex;
	opacity: 0;

	&__bg {
		position: absolute;
		top: 0;
		left: calc(50% - 200px);
		width: 400px;
		height: 100%;
		opacity: 0.8;
		filter: blur(5px);
		background-color: #ffffff;
	}
	&__string {
		position: relative;
		z-index: 1;
		text-align: center;
		padding: 14.5px 10px;
		font-weight: bold;
		color: #000;
	}
}

.item__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .4s;
	opacity: 0;

	&:hover {
		transform: translateY(-10px);
	}
	&-title {
		animation: float infinite 1s alternate;
	}
}

.diary {
	position: absolute;
	top: 59.11%;
	left: 8.26%;

	&__text {
		width: 128px;
		margin-bottom: 16px;

	}
	&__img {
		width: 159px;
	}
}

.envelope {
	position: absolute;
	top: 67%;
	left: 41.111%;

	&__text {
		width: 128px;
		margin-bottom: 16px;

	}
	&__img {
		width: 109px;
	}
}

.script {
	position: absolute;
	top: 70.25%;
	left: 79.375%;

	&__text {
		width: 128px;
		margin-bottom: 16px;

	}
	&__img {
		width: 158px;
	}
}