@font-face {
	font-family: 'Didot';
	src: url("../fonts/GFSDidot-Regular.ttf");
}

body {
	overflow: hidden;

	&.header-fixed{
		overflow: hidden;
	}
	&.scroll-fixed{
		overflow: hidden;
	}
	// 頁面未載入完成
	&.preload {
		 // 禁用動畫過度
		 * {
			 -webkit-transition: none !important;
			 -moz-transition: none !important;
			 -ms-transition: none !important;
			 -o-transition: none !important;
		 }
	 }
}

// wrap 最外框
.wrap {
	position: relative;
	overflow: hidden;
	font-size: 16px;
	@include breakpoint(lg) {
		min-height: 100%;
	}
}

// 頁面寬度
.wrap__inner {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;
	position: relative;
	@include breakpoint(md) {
		@include breakpoint(xl, max) {
			max-width: 960px;
		}
	}
	@include breakpoint(md) {
		// padding: 0 20px;
	}
	@include breakpoint(xl) {
		padding: 0 0;
	}
	&--padding-sm {
		@include breakpoint(md) {
			padding: 0 40px;
		}
	}
	&--no-padding {
		padding: 0;
	}
	&--768{
		max-width: 768px;
		@include breakpoint(md) {
			padding: 0 15px;
		}
	}
	&--1000{
		max-width: 1000px;
		@include breakpoint(lg) {
			padding: 0;
		}
	}
	&--full{
		max-width: 100%;
	}

	&::after {
		@include breakpoint(lg) {
			content: " ";
			display: block;
			clear: both;
			line-height: 0;
			height: 0;
			visibility: hidden;
		}
	}
}

// content
.content {
	min-height: 50vh;
	margin: 0 auto;
	padding: 20px 0;
	@include breakpoint(lg) {
		min-height: initial;
		padding: 20px 0 40px;
	}
	&::before{
		content: " ";
		display: block;
		height: 45px;
	}
}

.logo {
	position: absolute;
	top: 30px;
	left: 40px;
	z-index: 10;

	@include breakpoint(lg, max) {
		top: 20px;
		left: calc(50% - 110px);
	}

	&__link {
		width: 220px;
		transition: all .4s;
	}

	&__img {
		transition: all .4s;

		.logo__link:hover & {
			transform: scale(1.01);
		}
	}
}


.menu {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 10;
	pointer-events: none;

	@include breakpoint(lg, max) {
		position: fixed;
		top: auto;
		bottom: 0;
		left: auto;
		right: 0;
		padding: 20px;
		width: 100%;
		transition: all .4s;

		&--active {
			background: #fff;
		}
	}

	&__inner {
		@include breakpoint(lg, max) {
			display: flex;
			flex-flow: column-reverse;
		}
	}
	&__trigger {
		display: block;
		width: 60px;
		margin-bottom: 16px;
		margin-left: auto;
		pointer-events: auto;

		@include breakpoint(lg, max) {
			margin-top: 16px;
			margin-bottom: 0;
		}

		.menu--active & {
			animation: shake .4s forwards;
		}
	}
	&__list {
		transition: all .4s;
		transform: scaleY(0);
		transform-origin: top;
		margin-bottom: 0;

		@include breakpoint(lg, max) {
			transform-origin: bottom;
		}

		.menu--active & {
			transform: scaleY(1);
		}
	}

	&__item {
		display: flex;
		justify-content: flex-end;
	}
	&__link {
		color: $primary;
		font-family: Didot;
		text-align: right;
		font-size: 24px;
		line-height: 34px;
		text-decoration: none;
		pointer-events: auto;

		@include active-hover {
			color: $primary;
			text-decoration: underline;
		};
	}
}