@media (max-width: 1023px) {
  body {
    overflow: auto; } }

.wrap {
  position: relative; }
  @media (max-width: 1023px) {
    .wrap {
      min-height: 100vh; }
      .wrap--story .wrap {
        overflow: visible; } }
  .wrap__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: center;
    background: url("../images/events/elements/p2-bg.jpg") center/cover;
    animation: fade-in 3s forwards; }
    @media (max-width: 1023px) {
      .wrap__bg {
        position: fixed; } }
    .wrap--story .wrap__bg {
      background-image: url("../images/events/elements/bg.png?t=20210220v1"); }
    .wrap--animation-less .wrap__bg {
      animation: none; }
  .wrap__inner {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 740px; }
    .wrap.fin .wrap__inner {
      max-width: 1440px; }
    @media (max-width: 1023px) {
      .wrap--story .wrap__inner {
        flex-wrap: wrap;
        padding-top: 178px;
        height: auto; } }

.subtitle {
  width: 450px;
  max-width: 450px;
  position: absolute;
  top: 45px;
  left: calc(50% - 225px);
  display: flex;
  justify-content: center;
  opacity: 0;
  z-index: 2; }
  @media (max-width: 1023px) {
    .subtitle {
      top: 182px;
      width: 450px;
      max-width: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .subtitle {
      padding-left: 45px;
      padding-right: 45px; } }

  .subtitle__bg {
    position: absolute;
    top: 0;
    left: calc(50% - 225px);
    width: 450px;
    height: 100%;
    opacity: 0.8;
    filter: blur(5px);
    background-color: #ffffff;
    animation: bluring 0.75s infinite alternate ease-in-out; }
    @media (max-width: 1023px) {
      .subtitle__bg {
        width: 90vw;
        left: calc(50% - 45vw); } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .subtitle__bg {
      animation: bluring-md 0.75s infinite alternate ease-in-out; } }

  .subtitle__string {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 14.5px 10px;
    font-weight: bold;
    color: #000;
    line-height: 1.63; }
    .subtitle__string.next {
      display: none; }
    .wrap.fin .subtitle__string {
      display: none; }
      .wrap.fin .subtitle__string.next {
        display: block; }

.sheet {
  display: none;
  position: absolute;
  width: 100%; }
  @media (max-width: 1023px) {
    .sheet {
      position: relative;
      width: 100%;
      margin-top: 150px; } }
  .wrap.animating .sheet {
    pointer-events: none; }
  .wrap.fin .sheet {
    display: none; }
  @media (max-width: 767px) {
    .sheet__img {
      width: 130%;
      max-width: 130%;
      margin-left: -15%; } }
  .sheet__keyword {
    position: absolute;
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0px 0px 5px white); }
    .sheet__keyword img {
      opacity: 0; }
    .sheet__keyword.active img {
      animation: show forwards 1s;
      opacity: 1; }
    .sheet__keyword.deafness {
      width: 12.1%;
      top: 17.9%;
      right: 34.44%; }
      @media (max-width: 767px) {
        .sheet__keyword.deafness {
          width: 16%;
          top: 18%;
          right: 29.5%; } }
    .sheet__keyword.obstacle {
      width: 17.8%;
      top: 31.8%;
      left: 45.6%; }
      @media (max-width: 767px) {
        .sheet__keyword.obstacle {
          width: 26%;
          top: 30.9%;
          left: 42.8%; } }
    .sheet__keyword.abandon {
      width: 12.7%;
      top: 43%;
      left: 44.8%; }
      @media (max-width: 767px) {
        .sheet__keyword.abandon {
          width: 17%;
          top: 42.7%;
          left: 42.3%; } }
  .wrap--story .sheet {
    display: block;
    opacity: 0; }

.paper-box {
  position: absolute;
  width: 100%;
  display: none; }
  @media (max-width: 1023px) {
    .paper-box {
      position: relative;
      width: 100%; } }
  .wrap.fin .paper-box {
    display: block;
    animation: topin forwards 1s; }
  .paper-box__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 1113px; }
    @media (max-width: 767px) {
      .paper-box__img {
        width: 130%;
        max-width: 130%;
        margin-left: -15%; } }
    @media (max-width: 1023px) {
      .paper-box__img {
        display: none; } }

.paper {
  position: relative;
  z-index: 1; }
  @media (min-width: 1024px) {
    .paper__mobile {
      display: none; } }
  @media (max-width: 767px) {
    .paper__img {
      width: calc(100% +  60px);
      max-width: calc(100% +  60px);
      margin-left: -30px; } }
@media (max-width: 1023px) and (min-width: 768px) {
  .paper__img {
    max-width: 60%;
    margin-left: 20%;
    margin-bottom: 20px; } }

  @media (min-width: 1024px) {
    .paper__img {
      width: 110%;
      max-width: 110%;
      margin-left: -5%; } }
  @media (max-width: 1023px) {
    .paper__intro {
      width: 80%;
      max-width: 80%;
      margin-left: 10%;
      margin-bottom: -15vw; }
      .paper__intro:first-child {
        margin-top: 100px; }
      .paper__intro:last-child {
        margin-bottom: 0; } }
  @media (max-width: 1023px) and (max-width: 767px) {
    .paper__intro {
      width: 150%;
      max-width: 150%;
      margin-left: -25%;
      margin-bottom: -25vw; }
      .paper__intro:last-child {
        margin-bottom: 0; } }

  @media (max-width: 1023px) {
    .paper__web {
      display: none; } }
  .paper__btn-outer {
    width: 232px;
    position: absolute;
    top: 80%;
    left: calc(50% - 116px); }
    @media (max-width: 1023px) {
      .paper__btn-outer {
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px; } }
  .paper__btn {
    width: 232px;
    transition: transform 0.4s; }
    .paper__btn:hover {
      transform: scale(1.05) !important; }

.fin-btn {
  position: absolute;
  width: 14.45%;
  top: 53.47%;
  right: 11.35%; }
  @media (max-width: 767px) {
    .fin-btn {
      width: 26.666%;
      top: 62px;
      right: 0; } }
  .fin-btn__hint {
    font-size: 14px;
    position: absolute;
    top: -25%;
    white-space: nowrap;
    color: #c34236;
    display: none;
    font-weight: bold;
    pointer-events: none; }
    @media (max-width: 767px) {
      .fin-btn__hint {
        left: 50%;
        transform: translateX(-50%); } }
    .fin-btn--hint .fin-btn__hint {
      display: block;
      animation: show forwards 0.4s; }
      @media (max-width: 767px) {
        .fin-btn--hint .fin-btn__hint {
          animation: show-hint forwards 0.4s; } }
    .fin-btn__hint span {
      display: block; }
      .fin-btn__hint span.shakeX {
        animation: shakeX .85s; }

.back-btn {
  position: fixed;
  width: 77px;
  top: 160px;
  left: 40px;
  z-index: 3;
  filter: drop-shadow(0px 2px 2px black); }
  @media (max-width: 767px) {
    .back-btn {
      width: 54px;
      top: 10%;
      left: 5%;
      filter: none; } }
  @media (min-width: 1440px) {
    .back-btn {
      top: 26.58%; } }

/*# sourceMappingURL=pg_desk.css.map */
