.wrap {
  position: relative; }
  @media (max-width: 1023px) {
    .wrap {
      height: 100vh; } }
  .wrap__bg, .wrap__bg-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: center;
    z-index: 1;
    background: url("../images/events/elements/p1-bg-m.jpg") center/contain no-repeat;
    animation: fade-in 3s forwards; }
    @media (max-width: 1023px) {
      .wrap__bg, .wrap__bg-deco {
        background-size: cover; } }
    @media (min-width: 1024px) {
      .wrap__bg, .wrap__bg-deco {
        background-image: url("../images/events/elements/p1-bg.jpg"); } }
  .wrap__bg-deco {
    background: url("../images/events/elements/p1-bg.jpg") center/cover;
    animation: none;
    z-index: 0;
    filter: blur(30px);
    transform: scale(1.1); }
    @media (min-width: 1024px) {
      .wrap__bg-deco {
        background-image: url("../images/events/elements/p1-bg.jpg"); } }

.bgwrap {
  position: absolute;
  width: 100%;
  max-width: 182.27vh;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bgwrap__inner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 1023px) {
      .bgwrap__inner {
        height: 100vh;
        max-height: 667px; } }
    .bgwrap__inner::after {
      content: "";
      width: 100%;
      padding-bottom: 54.86%;
      display: block; }
      @media (max-width: 1023px) {
        .bgwrap__inner::after {
          display: none; } }

.subtitle {
  max-width: 400px;
  position: absolute;
  top: 45px;
  display: flex;
  opacity: 0; }
  @media (max-width: 1023px) {
    .subtitle {
      top: 182px; } }
  .subtitle__bg {
    position: absolute;
    top: 0;
    left: calc(50% - 200px);
    width: 400px;
    height: 100%;
    opacity: 0.8;
    filter: blur(5px);
    background-color: #ffffff;
    animation: bluring 0.75s infinite alternate ease-in-out; }
    @media (max-width: 1023px) {
      .subtitle__bg {
        width: 90vw;
        left: calc(50% - 45vw); } }
  @media (max-width: 1023px) and (min-width: 768px) {
    .subtitle__bg {
      animation: bluring-md 0.75s infinite alternate ease-in-out; } }

  .subtitle__string {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 14.5px 10px;
    font-weight: bold;
    color: #000; }

.item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s;
  opacity: 0;
  position: relative; }
  .item__link:hover {
    transform: translateY(-10px); }
  .item__link-title {
    position: absolute;
    top: -56px;
    left: calc(50% - 64px);
    animation: float infinite 1s alternate;
    max-width: none; }

.diary {
  position: absolute;
  top: 66.11%;
  left: 7.26%;
  width: 11.04%; }
  @media (max-width: 1023px) {
    .diary {
      width: 160px;
      top: 300px;
      left: calc(50% - 80px); } }
  @media (max-width: 1023px) and (min-width: 375px) {
    .diary {
      width: 194px;
      top: 310px;
      left: calc(50% - 97px); } }

  .diary__text {
    width: 128px;
    margin-bottom: 16px; }
  .diary__img {
    width: 100%; }

.envelope {
  position: absolute;
  top: 74%;
  left: 41.111%;
  width: 7.56%; }
  @media (max-width: 1023px) {
    .envelope {
      width: 90px;
      top: 420px;
      left: calc(50% - 45px); } }
  @media (max-width: 1023px) and (min-width: 375px) {
    .envelope {
      width: 109px;
      top: 440px;
      left: calc(50% - 54.5px); } }

  .envelope__text {
    width: 128px;
    margin-bottom: 16px; }
  .envelope__img {
    width: 100%; }

.script {
  position: absolute;
  top: 77.25%;
  left: 79.375%;
  width: 10.97%; }
  @media (max-width: 1023px) {
    .script {
      width: 130px;
      top: 550px;
      left: calc(50% - 65px); } }
  @media (max-width: 1023px) and (min-width: 375px) {
    .script {
      width: 158px;
      top: 590px;
      left: calc(50% - 79px); } }

  .script__text {
    width: 128px;
    margin-bottom: 16px; }
  .script__img {
    width: 100%; }

/*# sourceMappingURL=pg_room.css.map */
